@font-face{
	font-family: 'PF Agora Slab Pro'; 
	src: url('../fonts/PFAgoraSlabPro-Reg.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}

@font-face{
	font-family: 'PF Agora Slab Pro'; 
	src: url('../fonts/PFAgoraSlabPro-Medium.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 600;
}