.form{
	.input-field,
	textarea,
	.select-field:not(.with-search) select{
		border: 1px solid #C0CEDF;
		appearance: none;
		background: #fff;
		border-radius: 30px;
		flex: auto;
		height: 60px;
		font-size: 16px;
		font-weight: 500;
		color: #465C79;
		font-family: inherit;
		padding: 0 24px;
		outline: none !important;
		transition: all $t;
		width: 100%;
		box-shadow: $shadow;

		&::placeholder{
			opacity: 1;
			color: #465C79;
		}

		&:focus{
			border-color: $primary;
		}
	}

	textarea{
		resize: none;
		padding: 15px 20px;
		height: 125px;
		display: block;

		@media screen and (max-width: 767px){
			height: 100px;
			padding: 10px 12px;
		}
	}

	// .select-field{
	// 	position: relative;

	// 	&:after{
	// 		content: '';
	// 		display: block;
	// 		width: 12px;
	// 		height: 8px;
	// 		background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 8'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%2392ca0c' stroke-width='2'/%3E%3C/svg%3E") no-repeat center center / contain;
	// 		position: absolute;
	// 		top: 50%;
	// 		transform: translateY(-50%);
	// 		right: 10px;
	// 	}

	// 	select{
	// 		width: 100%;
	// 		cursor: pointer;
	// 		font-weight: 400;
	// 	}
	// }
}

.select-field:not(.with-search){
	.jcf-select{
		border: 2px solid #C0CEDF;
		appearance: none;
		background: #fff;
		border-radius: 30px;
		flex: auto;
		height: 60px;
		font-size: 16px;
		color: #465C79;
		font-family: inherit;
		padding: 0 24px;
		outline: none !important;
		transition: all $t;
		width: 100%;
		box-shadow: $shadow;
		cursor: pointer;
		margin: 0;

		&::placeholder{
			opacity: 1;
			color: #465C79;
		}

		&:focus,
		&:hover{
			border-color: $primary;
		}

		.jcf-select-text{
			// display: block;
			font-size: 16px;
			font-weight: 400;
			line-height: 60px;
			cursor: pointer;
			margin: 0;
		}

		.jcf-select-opener{
			width: 60px;
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: transparent;
			border-radius: 30px;
			cursor: pointer;

			&:after{
				transition: all $t;
				content: '';
				display: block;
				flex: none;
				width: 10px;
				height: 6px;
				margin-left: 12px;
				background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath d='M.2 5.4l.3.3.4.2c.1 0 .3 0 .4-.2L5 2l3.7 3.7a.5.5 0 00.8 0l.3-.3c.3-.2.3-.5 0-.8L5.4.2A.6.6 0 005 0c-.2 0-.3 0-.4.2L.2 4.6a.6.6 0 000 .8z' fill='%2363C463'/%3E%3C/svg%3E") no-repeat center center / contain;
				transform: rotate(-180deg);
			}
		}

		.jcf-list{
			border-radius: $r;
			overflow: hidden;
			padding: 15px 13px;

			.jcf-list-content{
				scrollbar-color: $primary rgba(#BBF3BB, .4);
				scrollbar-width: thin;

				&::-webkit-scrollbar{
					width: 8px;
				}

				&::-webkit-scrollbar-track{
					background: rgba(#BBF3BB, .4);
					border-radius: 4px;
				}

				&::-webkit-scrollbar-thumb{
					background: $primary;
					border-radius: 4px;
				}
			}

			&.jcf-scroll-active{
				.jcf-list-content{
					padding-right: 19px;
				}
			}

			.jcf-optgroup-caption{
				padding: 7px 0;
				font-size: 12px;
				line-height: 20px;
				color: $text-light;
				font-weight: 400;
			}

			.jcf-option{
				padding: 7px 12px;
				font-size: 14px;
				line-height: 20px;
				color: #465C79;
				cursor: pointer;

				&:hover,
				&:focus,
				&.jcf-hover{
					color: $primary;
					background: rgba(#EFF3F8, .35);
				}

				&.jcf-selected{
					font-weight: bold;
					color: $text-dark;
					background: #EFF3F8;
				}
			}
		}

		.jcf-select-drop{
			top: calc(100% + 8px);
			box-shadow: $shadow;
			border-radius: $r;
		}

		@media screen and (max-width: 575px){
			height: 52px;
			border-radius: 26px;
			padding: 0 22px;

			.jcf-select-text{
				font-size: 12px;
				line-height: 52px;
			}

			.jcf-select-opener{
				width: 52px;
				height: 52px;
			}
		}
	}

	.jcf-select-drop .jcf-option-hideme{
		display: none;
	}

	&.smaller{
		.jcf-select{
			height: 40px;
			border-radius: 20px;
			padding-left: 17px;
			padding-right: 0;

			.jcf-select-text{
				line-height: 38px;
				font-size: 14px;
				margin-right: 50px;
				margin-left: 0;
			}

			.jcf-select-opener{
				width: 40px;
				height: 40px;
				border-radius: 20px;

				&:after{
					margin-left: 0;
				}
			}
		}
	}

	&.gray{
		.jcf-select{
			background: #EFF3F8;
			border-color: #EFF3F8;
			box-shadow: none;

			.jcf-select-opener{
				&:after{
					background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath d='M.2 5.4l.3.3.4.2c.1 0 .3 0 .4-.2L5 2l3.7 3.7a.5.5 0 00.8 0l.3-.3c.3-.2.3-.5 0-.8L5.4.2A.6.6 0 005 0c-.2 0-.3 0-.4.2L.2 4.6a.6.6 0 000 .8z' fill='%23465C79'/%3E%3C/svg%3E");
				}
			}
		}
	}
}

.select-field.with-search{
	.select2{
		width: 100% !important;

		.select2-selection{
			border: 2px solid #C0CEDF;
			appearance: none;
			background: #fff;
			border-radius: 30px;
			flex: auto;
			height: 60px;
			font-size: 16px;
			color: #465C79;
			font-family: inherit;
			padding: 0 24px;
			outline: none !important;
			transition: all $t;
			width: 100%;
			box-shadow: $shadow;
			cursor: pointer;
			margin: 0;

			.select2-selection__rendered{
				line-height: 60px;
				padding: 0 !important;
			}

			.select2-selection__arrow{
				width: 60px;
				height: 58px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: transparent;
				border-radius: 30px;
				cursor: pointer;

				&:after{
					transition: all $t;
					content: '';
					display: block;
					flex: none;
					width: 10px;
					height: 6px;
					margin-left: 12px;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath d='M.2 5.4l.3.3.4.2c.1 0 .3 0 .4-.2L5 2l3.7 3.7a.5.5 0 00.8 0l.3-.3c.3-.2.3-.5 0-.8L5.4.2A.6.6 0 005 0c-.2 0-.3 0-.4.2L.2 4.6a.6.6 0 000 .8z' fill='%2363C463'/%3E%3C/svg%3E") no-repeat center center / contain;
					transform: rotate(-180deg);
				}

				b{
					display: none;
				}
			}

			@media screen and (max-width: 575px){
				height: 52px;
				font-size: 12px;
				border-radius: 26px;
				padding: 0 22px;

				.select2-selection__rendered{
					line-height: 52px;
				}

				.select2-selection__arrow{
					width: 52px;
					height: 50px;
					border-radius: 25px;
				}
			}
		}

		.select2-selection__clear{
			height: 58px;
			font-size: 20px;
			color: #e8343e;
			position: relative;
			z-index: 20;

			@media screen and (max-width: 575px){
				height: 52px;
			}
		}
	}
}

.select2-dropdown{
	box-shadow: $shadow;
	border-radius: $r !important;
	border: 0;
	margin: 8px 0;
	background: #fff;

	.select2-search{
		padding: 15px 13px;
	}

	.select2-results__options{
		border-radius: $r;
		padding: 15px 13px;

		scrollbar-color: $primary rgba(#BBF3BB, .4);
		scrollbar-width: thin;

		&::-webkit-scrollbar{
			width: 8px;
		}

		&::-webkit-scrollbar-track{
			background: rgba(#BBF3BB, .4);
			border-radius: 4px;
		}

		&::-webkit-scrollbar-thumb{
			background: $primary;
			border-radius: 4px;
		}

		.select2-results__option{
			padding: 7px 12px;
			font-size: 14px;
			line-height: 20px;
			color: #465C79;
			cursor: pointer;

			&:hover,
			&:focus,
			&.select2-results__option--highlighted{
				color: $primary;
				background: rgba(#EFF3F8, .35);
			}

			&.select2-results__option--selected{
				font-weight: bold;
				color: $text-dark;
				background: #EFF3F8;
			}
		}
	}

	.select2-search__field{
		height: 40px;
		outline: none !important;
		border-radius: 6px;
		padding: 0 15px;
	}
}

.sort-by-block{
	display: flex;
	align-items: center;

	.block-label{
		font-size: 14px;
		line-height: 1.2;
		font-weight: 600;
		color: $text-dark;
		margin-right: 6px;
	}

	.select-field{
		min-width: 220px;
	}

	@media screen and (max-width: 575px){
		flex-direction: column;
		align-items: stretch;

		.block-label{
			margin-right: 0;
			margin-bottom: 10px;
			padding-left: 17px;
		}
	}
}

.radio,
.checkbox{
	.fake-label{
		display: block;
		padding-left: 27px;
		position: relative;
		font-size: 14px;
		line-height: 20px;
		font-weight: 500;
		color: $text-color;
		transition: all $t;
		cursor: pointer;

		&:before{
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: 1px solid #C0CEDF;
			position: absolute;
			left: 0;
			top: 0;
			transition: all $t;
		}

		&:after{
			content: '';
			display: block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: $primary;
			position: absolute;
			left: 4px;
			top: 4px;
			opacity: 0;
			transition: all $t;
		}
	}

	&:hover,
	&:focus{
		.fake-label{
			color: $primary;
		}
	}

	a{
		color: $text-color;
		text-decoration: underline;

		&:hover,
		&:focus{
			text-decoration: none;
		}
	}

	input:checked + .fake-label{
		color: $darkgreen;

		&:before{
			border-color: $primary;
		}

		&:after{
			opacity: 1;
		}
	}
}

.checkbox{
	.fake-label{
		color: $text-light;
		line-height: 16px;

		&:before{
			border-radius: 2px;
			width: 16px;
			height: 16px;
			border: 1px solid #465C79;
			background: transparent;
		}

		&:after{
			width: 16px;
			height: 16px;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M6.8 11.7a.5.5 0 01-.7 0L3.2 9a.8.8 0 010-1.1l.4-.4c.3-.3.8-.3 1 0l1.9 1.8 4.8-4.9c.3-.3.8-.3 1.1 0l.4.4c.3.3.3.8 0 1l-6 6z' fill='%23fff'/%3E%3C/svg%3E");
			border-radius: 0;
			top: 0;
			left: 0;
		}
	}

	input:checked + .fake-label{
		&:before{
			border-color: #465C79;
			background: #465C79;
		}
	}
}