.specialists-section{
	padding: 60px 0 40px;

	& + .seo-text-section{
		padding-top: 0;
	}

	.section-caption{
		margin-bottom: 30px;
	}

	.section-inner{
		display: grid;
		grid-template-columns: 1fr 255px;
		grid-gap: 75px;
	}

	.cert-card{
		margin-bottom: 15px;
	}

	.note{
		font-size: 13px;
		line-height: 1.25;
		color: $text-light;
		text-align: center;
	}

	@media screen and (max-width: 1199px){
		.section-inner{
			grid-gap: 30px;
		}
	}

	@media screen and (max-width: 767px){
		.section-inner{
			grid-gap: 0;
			display: flex;
			flex-direction: column-reverse;
			align-items: stretch;
		}

		.section-content{
			margin-top: 30px;
		}
	}
}

.cert-card{
	padding: 15px 10px;
	max-width: 255px;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	box-shadow: $shadow;
	display: block;

	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}